.catalog-companions {
  position: relative;
  padding-bottom: 71px;

  z-index: 3;

  @media (min-width: @tablet-width) {
    margin-top: 42px;
    padding-bottom: 113px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
    margin-top: 100px;
    margin-left: 60px;
    padding-bottom: 128px;
  }
}

.catalog-companions .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    width: auto;
    margin: auto;
    padding: 0;
  }
}

.catalog-companions__list {
  width: 270px;

  @media (min-width: @tablet-width) {
    width: 688px;
  }

  @media (min-width: @desktop-width) {
    align-self: flex-start;
    width: 951px;
  }
}

.catalog-companions__button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-left: 30px;

  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-blue-light;

  &:hover > .button__icon {
    color: fade(@basic-blue-light, 60%);
  }

  &:active > .button__icon {
    color: fade(@basic-blue-light, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-top: 9px;
    margin-left: 44px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 33px;
    margin-left: -25px;
  }
}

.catalog-companions__button .button__icon {
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    width: 26px;
    height: 26px;
    margin-right: 25px;
  }
}

.catalog-companions__pagination {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 75px;
  }
}
