.catalog-body__header {
  position: relative;
  padding-bottom: 10px;
  background-color: @basic-blue;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 2;
}

.catalog-body__main {
  position: relative;
  margin-top: -40px;

  background-color: #edeff6;
  z-index: 1;
}

.catalog-body__footer {
  position: relative;

  background-color: @basic-white;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 2;
}
