.country-list {
  list-style: none;
}

.country-list__link {
  color: @special-grey;

  &:hover {
    color: @basic-blue-light;
  }

  &:active {
    color: fade(@basic-blue-light, 30%);
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.catalog-filter .country-list__link {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
