.form-body {
  background-color: #edeff6;
}

.form-body__header {
  position: relative;
  padding-bottom: 12px;
  background-color: @basic-blue;
  background-image: none;
}

.form-body__header .page-header__login {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form-body__main {
  position: relative;
  margin-top: -25px;

  background-color: #edeff6;
  z-index: 1;
}

.form-body__footer {
  position: relative;

  background-color: @basic-white;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}
