.profile {
  position: relative;
  padding-bottom: 60px;

  background-color: #edeff6;

  z-index: 1;
}

.my-plans {
  position: relative;
  margin-top: -25px;
  padding-bottom: 12px;

  background-color: #dfe3f0;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 2;
}

.add-new-plan {
  position: relative;
  margin-top: -40px;
  padding-top: 47px;
  padding-bottom: 68px;

  background-color: #d4d9eb;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 3;
}
