.form-body__main .main-header {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    padding-bottom: 65px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: @desktop-width) {
    z-index: 1;
  }
}

.profile {
  position: relative;
  padding-bottom: 50px;

  background-color: #edeff6;

  z-index: 1;
}

.my-plans {
  position: relative;
  margin-top: -25px;
  padding-bottom: 12px;

  background-color: #dfe3f0;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;

  @media (min-width: @desktop-width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.add-new-plan {
  position: relative;
  margin-top: -40px;
  padding-top: 27px;
  padding-bottom: 68px;

  background-color: #d4d9eb;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 3;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}
