.index-body__header {
  position: relative;
  z-index: 2;
}

.index-body__main {
  position: relative;
  z-index: 1;
}

.index-body__footer {
  position: relative;

  background-color: @basic-white;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 2;
}
