.logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 4px;
  padding-top: 25px;
  padding-bottom: 22px;

  background-color: inherit;

  @media (min-width: @tablet-width) {
    width: 52%;
    padding-top: 41px;
    order: -2;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: auto;
    padding-top: 45px;
    padding-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      top: 74px;
      right: -100px;
      width: 60px;
      height: 2px;

      background-color: @basic-white;
    }
  }
}

.logo__link {
  display: inline-block;
  margin-top: 2px;
  margin-left: -4px;

  vertical-align: baseline;
}

.logo__image {
  @media (min-width: @tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.logo__image.hide {
  display: none;
}

.logo__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 11px;
  margin-top: 5px;
  padding: 0;

  color: @basic-white;

  background-color: transparent;

  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: 17px;
    margin-right: 2px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.logo__icon {
  &--open {
    display: block;
  }

  &--close {
    display: none;

    color: #cccccc;
  }

  @media (min-width: @tablet-width) {
    &--close {
      width: 22px;
      height: 22px;
      margin-top: 10px;
    }
  }
}
