.page-main {
  background-color: #edeff6;
}

.page-main__promo {
  position: relative;

  z-index: 6;
}

.page-main__service {
  position: relative;

  background-color: #192144;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 6;

  @media (min-width: @tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.page-main__directions {
  position: relative;

  background-color: #edeff6;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 5;

  @media (min-width: @tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.page-main__companions {
  position: relative;

  background-color: #192144;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 4;

  @media (min-width: @tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.page-main__prices {
  position: relative;

  background-color: #edeff6;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 3;

  @media (min-width: @tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.page-main__sign-up {
  position: relative;

  background-color: #192144;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.page-main__map {
  position: relative;

  background-color: transparent;
  z-index: 1;
}
