.properties-info {
  display: flex;
  justify-content: space-between;
}

.properties-info__level {
  position: absolute;
  top: 17px;
  left: 17px;

  z-index: 5;

  @media (min-width: @tablet-width) {
    top: 20px;
    left: 22px;
  }
}
