.step-three {
  padding-bottom: 7px;
}

.step-three__wrapper {
  position: relative;
}

.step-three__list {
  margin-top: 21px;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.step-three__decoration {
  position: absolute;
  top: 10px;
  left: -14px;
  width: 17px;
  height: 287px;

  background-image: url("../img/decoration.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.step-three__submit {
  width: 230px;
  height: 40px;
  margin-left: -5px;
  margin-top: 15px;
  margin-bottom: 0;

  font-size: 17px;
  line-height: 40px;
  color: @basic-blue-light;

  background-color: @basic-yellow;

  border: none;
  border-radius: 20px;
}
