.transport-list {
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.profile .transport-list {
  @media (min-width: @tablet-width) {
    width: 176px;
  }
}

.search-form__list.transport-list {
  margin-top: 17px;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 13px;
    margin-bottom: 9px;
  }
}

.transport-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  color: fade(@basic-blue-light, 15%);

  border-radius: 50%;
}

.transport-set__list .transport-list__item,
.search-form__list .transport-list__item {
  &:hover {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));

    .transport-list__icon {
      color: #b2b2b2;
    }

    .transport-list__choose:checked + .transport-list__icon {
      color: fade(@basic-blue-light, 70%);
    }
  }

  @media (min-width: @tablet-width) {
    width: 44px;
    height: 44px;
  }
}

.search-form__list .transport-list__item {
  margin-right: 3px;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.profile .transport-list__item {
  background-color: @basic-white;
}

.transport-list__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;

  color: #d9d9d9;

  .transport-list__choose:checked + & {
    color: @basic-blue-light;
  }

  .transport-list__choose:checked + &:active {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.1;
  }
}

.profile .transport-list__icon {
  width: 16px;
  height: 16px;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 22px;
  }
}

.search-form__list .transport-list__icon {
  @media (min-width: @tablet-width) {
    width: 44px;
    height: 44px;
  }
}

.transport-enable {
  color: @basic-blue-light;
  opacity: 1;
}
