.no-js-logo {
  display: none;
}

@media screen and (max-width: 768px) {
  .no-js .page-header {
    background-color: @basic-white;
  }

  .no-js .main-nav {
    display: block;
    height: 100%;

    .main-nav__wrapper.container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .no-js .logo {
    background-color: @basic-white;
  }

  .no-js .logo__image {
    display: none;
  }

  .no-js .no-js-logo {
    display: block;
  }

  .no-js .logo__menu-btn {
    display: none;
  }
}
