.open-filter .catalog-filter__wrapper {
  display: block;
  position: absolute;
  top: 57px;
  left: 0;
  height: auto;

  opacity: 1;
  visibility: visible;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;
}

.catalog-filter.open-filter {
  border-radius: 0;
}
