.open-filter .catalog-filter__wrapper {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  height: auto;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    position: relative;
    top: auto;
    left: auto;
  }
}

.open-filter .catalog-filter__tablet-wrapper {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 135px;
    left: 0;
    width: 690px;
    padding-bottom: 75px;

    background-color: #e2e5f2;
  }
}

.catalog-filter .open-filter {
  border-radius: 0;
}

.open-filter .container {
  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}
