.catalog-filter.open-filter {
  position: absolute;
  top: 110px;
  left: 0;

  @media (min-width: @tablet-width) {
    top: 264px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    top: auto;
    left: auto;

    background-color: #edeff6;
  }
}

.open-filter .container {
  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.open-filter .compass-list {
  display: block;
}

.open-filter .alphabet {
  display: block;
}

.open-filter .country-list {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.open-filter .catalog-filter__close-btn {
  display: block;
}
