.open-menu .container,
.open-menu .logo {
  background-color: @basic-white;
}

.open-menu .main-nav {
  display: block;
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 10;

  @media (min-width: @tablet-width) {
    top: 95px;
  }
}
