/* Variables */

/*Color list*/
@basic-white: #ffffff;
@basic-black: #000000;
@basic-yellow: #ffd74b;

@basic-blue: #161c35;
@basic-blue-light: #1d2e5b;
@basic-blue-light-2: #edeff6;

@special-orange: #ff8d30;
@special-yellow-dark: #ffbD30;
@special-grey: #444444;
@special-blue-light: #dfe3f0;
@special-red: #f47e7e;
@open-menu-btn: #cccccc;

// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
